<header>
    <div class="navSeccionEscritorio">
        <h1 style="color: white">room</h1>
        <nav class="navEscritorio">
            <ul class="ulEscritorio">
                <li>Home</li>
                <li>Shop</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
    <div class="navSeccionMobile">
        <div style="z-index: 1;" (click)="IconNavEvento()">
            <img src="{{iconNavPhone}}" alt="icon-close" />
        </div>
        <h1 style="color: white">room</h1>
        <nav>
            <ul *ngIf="visible">
                <li>Home</li>
                <li >Shop</li>
                <li >About</li>
                <li >Contact</li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="contenidoArriba">
        <img [ngStyle]="animationDescripcion" class="productImg animation" src="{{ img }}" alt="imagen-muestra" />
        <div class="descripcionPrincipal">
            <div class="descripcion">
                <h1 class="animation" [ngStyle]="animationDescripcion">
                    {{ txtTitulo }}
                </h1>
                <p class="animation" [ngStyle]="animationDescripcion">
                    {{ txtParrafo }}
                </p>
                <div class="shop">
                    <h1 class="h1shop">SHOP NOW</h1>
                    <img class="shopImg" src="../assets/icon-arrow.svg" alt="icon1" />
                </div>
            </div>
            <div class="botones">
                <div (click)="atras()">
                    <img src="../assets/icon-angle-left.svg" alt="icon2" />
                </div>
                <div (click)="siguiente()">
                    <img src="../assets/icon-angle-right.svg" alt="icon3" />
                </div>
            </div>
        </div>
    </div>
    <div class="contenidoAbajo">
        <div>
            <img src="../assets/image-about-dark.jpg" alt="icon4" />
        </div>
        <div class="descripcionAbajo">
            <h1>About our furniture</h1>
            <p>
                Our multifunctional collection blends design and function to suit your
                individual taste. Make each room unique, or pick a cohesive theme that
                best express your interests and what inspires you. Find the furniture
                pieces you need, from traditional to contemporary styles or anything in
                between. Product specialists are available to help you create your dream
                space.
            </p>
        </div>
        <div>
            <img src="../assets/image-about-light.jpg" alt="icon5" />
        </div>
    </div>
</main>
<footer class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a
        href="https://github.com/Jank1510">Jehan Carlos Hurtado</a>.
</footer>