h1 {
    color: black;
}

p {
    color: #a1a1a1;
}

.navEscritorio {
    display: flex;
    align-items: center;
}

.ulEscritorio {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 2rem;
}

.ulEscritorio li {
    cursor: pointer;
}

.ulEscritorio li:hover {
    box-shadow: 0px 25px 0px -7px white;
}

.descripcion * {
    margin: 0
}

.descripcion p {
    margin: 1.5rem auto;
}

.shopImg {
    max-width: 5rem;
    height: 1rem;
    margin: auto 2rem !important;
}

.h1shop {
    font-size: 1rem;
    letter-spacing: 6px;
}

.shop:hover {
    opacity: 50%;
}

.contenidoAbajo div img {
    width: 100%;
}

.descripcionAbajo * {
    margin: 0;
}

.descripcionAbajo {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer {
    margin-top: auto;
    text-align: center;
}

.descripcionPrincipal {
    position: relative;
}

.botones div {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botones div:hover {
    opacity: 60%;
}

.botones div img {
    height: 70%;
}

@keyframes opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.animation {
    animation-duration: 0.5s;
}

/*Vista pequeña*/
@media (min-width:320px) {
    main .contenidoArriba {
        display: flex;
        flex-direction: column;
    }

    main .contenidoArriba .productImg {
        width: 100%;
    }

    .botones {
        height: 15%;
        display: grid;
        grid-template-columns: 10% 10%;
        position: absolute;
        width: 100%;
        top: -15%;
        justify-content: end;
    }

    .contenidoAbajo {
        display: flex;
        flex-direction: column;
    }

    .navSeccionEscritorio {
        display: none;
        flex-direction: row;
    }

    .navSeccionMobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 84vw;
        margin: 8vw;
    }

    .navSeccionMobile h1 {
        margin: 0 auto
    }

    header {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: 0;
        color: white;
        z-index: 1;
    }

    .navSeccionMobile nav ul {
        position: absolute;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        list-style: none;
        column-gap: 8vw;
        padding: 10vw 0 5vw 15vw;
        margin: 0;
        width: 85vw;
        justify-content: center;
        background: white;
        color: black;
        font-weight: bold;
        animation-name: opacity;
        animation-duration: 0.5s;
        animation-direction: reverse;
    }

    .shop {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin: 9vw 0 !important;
    }

    .descripcion {
        height: 85%;
        display: flex;
        flex-direction: column;
        padding: 0 6vw;
        justify-content: center;
        margin-top: 8vw;
    }

}

/*vista grande*/
@media (min-width:960px) {

    main .contenidoArriba {
        display: grid;
        grid-template-columns: 54vw 46vw;
    }

    main .contenidoArriba .productImg {
        width: 54vw;
    }

    .botones {
        height: 15%;
        display: grid;
        grid-template-columns: 6.5vw 6.5vw;
        position: absolute;
        width: 100%;
        bottom: 0;
        top: auto;
        justify-content: inherit;
    }

    .contenidoAbajo {
        display: grid;
        grid-template-columns: 33vw 34vw 33vw;
    }

    .navSeccionEscritorio {
        display: flex;
        flex-direction: row;
    }

    .navSeccionMobile {
        display: none;
        flex-direction: row;
    }

    header {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: 2rem;
        color: white;
        z-index: 1;
    }

    .shop {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin: 0 !important;
    }

    .descripcion {
        height: 85%;
        display: flex;
        flex-direction: column;
        padding: 0 6vw;
        justify-content: center;
        margin: 0;
    }
}